<header>
  <div class="left_menu">
    <li><a routerLink="/">Home</a></li>
  </div>
  <div class="right_menu">
      <ul>
        <li *ngIf="!this.api.user"><a routerLink="/login"><button class="btnLogin" >Login</button></a></li>
        <li *ngIf="!this.api.user"><a routerLink="/register"><button class="btnLogin" >Register</button></a></li>
        <li *ngIf="this.api.user"><a routerLink="/todo"><button class="btnLogin" >My ToDo's</button></a></li>
        <li *ngIf="this.api.user"><a routerLink=""><button class="btnLogin"  (click)="Logout()">Logout</button></a> </li>
      </ul>
  </div>
   

</header>
<router-outlet></router-outlet>