@import "../../theme/bootstrap.min.css";

p{
    font-family: 'Ubuntu';
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 4px;
    letter-spacing: .5px;
}

.login_div{
    position: absolute; 
    left:50%; 
    top:50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding:30px 20px 50px 20px; 
    border-radius: 4px;
    box-shadow: 0 0 10px #000;
    font-family:  sans-serif;
}

input[type="email"],input[type="password"],input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    min-width: 300px;
    padding: 7px 0 7px 7px;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color:#494747;
    outline: none;
  }

  button{
      width: 100%;
      cursor: pointer;
      border: 1px solid rgba(52, 177, 235,.8);
      border-radius: 6px;
      padding: 6px 0;
      background-color: rgba(52, 177, 235,.8);
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 500;
      transition: all .3s linear;
  }

  button:hover{
      color: rgba(52, 177, 235,.8);
      background-color: white;
      border: 1px solid rgba(52, 177, 235,.8);
  }
