<main>
    <div class="login_div">
        <h1>Sign Up</h1>
        <p class="text-danger" *ngIf="missinfo == true">Please fill in blank fields.</p>
        <p class="text-danger" *ngIf="wronginfo == true">E-mail already used.</p>
        <form method="post" id="register-account-form" ngNativeValidate>
            <div>
                <p>Name</p>
                <input type="text" [(ngModel)]="account.first_name" class="input-text with-border" name="firstname"
                    placeholder="" required autocomplete="off" />
            </div>
            <div>
                <p>Surname</p>
                <input type="text" [(ngModel)]="account.last_name" class="input-text with-border" name="lastname"
                    placeholder="" required autocomplete="off" />
            </div>
            <div>
                <div>
                    <p>E-mail</p>
                    <input type="email" [(ngModel)]="account.email" class="input-text with-border" name="email"
                        placeholder="" required autocomplete="off" />
                </div>
                <p>Password</p>
                <input type="password" [(ngModel)]="account.password" class="input-text with-border" name="password"
                    placeholder="" required autocomplete="off" />
            </div>
            <button class="margin-t-20" type="submit" (click)="signUp()">Sign Up!
            </button>
        </form>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
            <p style="color: white">Please Wait...</p>
        </ngx-spinner>
    </div>
</main>