<main>
  <div class="login_div">
    <h1>Sign In</h1>
    <p class="text-danger" *ngIf="missinfo == true">Please fill in blank fields.</p>
    <p class="text-danger" *ngIf="wronginfo == true">Invalid Email or Password.</p>
    <form method="post" class="margin-t-10">
      <div>
        <p>E-mail</p>
        <input type="email" [(ngModel)]="account.email" name="email" placeholder="" required autocomplete="off" />
      </div>
      <div>
        <p>Password</p>
        <input type="password" [(ngModel)]="account.password" name="password" placeholder="" required
          autocomplete="off" />
      </div>
      <button class="margin-y-20" type="submit" (click)="Login()">Sign In</button>
    </form>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
      <p style="color: white">Please Wait...</p>
    </ngx-spinner>
  </div>
</main>