<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <form method="post" class="margin-t-10">
                    <div>
                        <p>List Name</p>
                        <input type="text" [(ngModel)]="list.name" name="name" placeholder="" required
                            autocomplete="off" />
                    </div>
                    <div>
                        <button class="createbtn" type="submit" (click)="ListProcess(1, null)">Create New List</button>
                    </div>
                </form>
                <div class="row" style="margin-top: 20px;" *ngIf="!noList">
                    <div class="col-sm-12" *ngFor="let liste of lists">
                        <div class="lists">
                            <button class="listbtn" (click)="selectedList(liste.id)" [ngClass]="{'active':selectedListid == liste.id}">{{liste.name}}</button>
                            <button class="deletelist" (click)="ListProcess(2, liste)"><img src="../../assets/delete.svg" class="img-fluid" alt="" style="max-width: 25px;"></button>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px; text-align: center;" *ngIf="noList">
                    <div class="col-sm-12">
                        <h4>There is no <br> List for now.</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 list_section">
                <div class="row" *ngIf="noItem">
                    <div class="col-sm-12">
                        <h4>There is no item for now.</h4>
                    </div>
                </div>
                <div class="row" *ngIf="!noItem">
                    <div class="col-sm-4">
                        <p class="filter_p">Fiter By Name or Desc.</p>
                        <input type="text" placeholder="Name or Desc." [(ngModel)]="searchText">
                    </div>
                    <div class="col-sm-4">
                        <p class="filter_p">Fiter By Status</p>
                        <select name="" [(ngModel)]="selectedStatus">
                            <option value="0">All Status</option>
                            <option value="1">Continue</option>
                            <option value="2">Completed</option>
                            <option value="3">Expired</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <p class="filter_p">Sort By</p>
                        <select name="" [(ngModel)]="sortItems">
                            <option value="0">Deadline</option>
                            <option value="1">Create Date</option>
                            <option value="2">Name</option>
                            <option value="3">Status</option>
                        </select>
                    </div>
                    <div class="col-sm-6" *ngFor="let item of ItemsOfLists(selectedListid)">
                        <div class="list_item">
                            <div class="list_item__header">
                                <h6 class="margin-t-5">{{item.name}} </h6>
                            </div>
                            <h6 class="margin-t-5"><strong>Deadline:</strong> {{item.deadline | date : 'dd/MM/yyyy'}}
                            </h6>
                            <h6 class="margin-t-5"><strong>Status:</strong><span class="status continues"
                                    *ngIf="item.status == 1"></span>
                                <span class="status completed" *ngIf="item.status == 2"></span>
                                <span class="status expired" *ngIf="!item.status || item.status == 3"></span> </h6>
                            <h6 class="margin-t-5"><strong>Description</strong></h6>
                            <div class="list_item__description">
                                <p>{{item.description}}</p>
                            </div>

                            <button class="deletebtn" (click)="ToDoProcess(2, item)">Delete</button>
                            <button class="completebtn" (click)="ToDoProcess(3, item)">Complete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <form method="post" class="margin-t-10">
                    <div>
                        <h5>Hello, {{this.api.user?.first_name}} {{this.api.user?.last_name}}</h5>
                    </div>
                    <div>
                        <p style="color:#ff2c2c; font-style: italic;" *ngIf="missInfo">Fill All Lines</p>
                    </div>
                    <div>
                        <p>Item Name</p>
                        <input type="text" [(ngModel)]="item.name" name="name" placeholder="" required
                            autocomplete="off" />
                    </div>
                    <div>
                        <p>Description</p>
                        <textarea type="text" [(ngModel)]="item.description" name="description" placeholder="" required
                            autocomplete="off" rows="6"></textarea>
                    </div>
                    <div>
                        <p>Deadline</p>
                        <input type="date" [(ngModel)]="item.deadline" name="deadline" placeholder="" required
                            autocomplete="off" />
                    </div>
                    <div>
                        <p>Dependency</p>
                        <select (change)="DependencyOption($event.target.value)">
                            <option value='0'>Choose a Dependency</option>
                            <option *ngFor="let item of ItemsOfLists(selectedListid)" [value]="item.id">{{ item.name }}</option>
                        </select>
                    </div>
                    <div>
                        <button class="createbtn" id="itembtn" type="submit" (click)="ToDoProcess(1, null)">Create New Item</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
		<p style="color: white">Please Wait...</p>
	</ngx-spinner>
</main>