@import "../../theme/bootstrap.min.css";

main{
    padding-top:100px;
    font-family: sans-serif;
}

.container{
    max-width: 1300px;
}

.lists{
    padding: 0px 10px;
}

.lists .listbtn{
    display: inline-block;
    background-color: #fff;
    color: #2265a5;
    border: 1px solid #2265a5;
    border-radius: 4px;
    width: 85%;
    padding: 10px 10px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all .3s ease-in-out;
    outline: none;
}

.lists .listbtn:hover{
    background-color: #2265a5;
    color:#fff;
}

.filter_p{
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 600;
}

.lists .deletelist{
    background-color: transparent;
    border: none;
    width: 15%;
    border-radius: 4px;
    cursor: pointer;
}
.active{
    background-color: #2265a5 !important;
    color:#fff !important;
}

.list_item{
    box-shadow: 0px 0px 4px 1px #bdbdbd;
    padding: 20px 20px;
    margin-bottom: 30px;
    min-height: 300px;
    border-radius: 4px;
    background-color: #2265a5;
    color:#fff;
}

.list_item__header{
    text-align: center;
}
.list_item__header h6{
    font-size: 1.7em;
}

input, textarea, select {
    width: 100%;
    border-radius: 4px;
    padding: 7px 0 7px 7px;
    background-color: #e5e5e5;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color:#494747;
    margin-bottom: 20px;
    outline: none;
}
form{
    padding: 0px 10px;
}
form p{
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 14px;
}

.list_section{
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
}

.status{
    height:12px;
    width: 12px;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
}
.list_item__description{
    background-color: #fff;
    color:#2d2d2d;
    min-height: 100px;
    padding: 3px 10px;
    border-radius: 4px;
}
.list_item p{
    font-size: 14px;
    display: inline;
}

.continues{
    background-color: orange;
}
.completed{
    background-color: #4BB543;
}
.expired{
    background-color: #ff2c2c;
}

.deletebtn{
    position: absolute;
    bottom: 45px;
    left: 35px;
    margin-top: 10px;
    background-color: #ff2c2c;
    color:#fff;
    width: 35%;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.completebtn{
    position: absolute;
    bottom: 45px;
    right: 35px;
    margin-top: 10px;
    background-color: #4BB543;
    color:#fff;
    width: 35%;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.createbtn{
    background-color: #2265a5;
    color:#fff;
    width: 100%;
    border: none;
    padding: 7px 10px;
    border-radius: 4px;
    cursor: pointer;
}
