<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>WELCOME TO <br> TO-DO LIST APPLICATION</h1>
            </div>
            <div class="col-sm-12">
                <h4>You have to be a member to create your lists</h4>
            </div>
        </div>
    </div>
</section>
