@import "../../theme/bootstrap.min.css";

.container{
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family:  sans-serif;
}

.container h1{
    font-size: 5rem;
    font-weight: 500;
}